<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Recorridos</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item>
            <ion-select placeholder="Seleccione línea">
                <ion-select-option value="201">201</ion-select-option>
                <ion-select-option value="202">202</ion-select-option>
            </ion-select>
        </ion-item>
    </ion-list>
</ion-content>